/* global vars */
:root {
  --montserrat: 'Montserrat', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --base-font: calc(12px + (24 - 12) * (100vw - 300px) / (1600 - 300));
  --base-title-font: calc(var(--base-font) + 14px);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #2f2f2f;
  font-family: var(--montserrat);
  font-size: var(--base-font);
  margin: 0;
  text-align: center;
  /* temporary */
  height: 100vh;
}

h1, h2, h3 {
  font-size: var(--base-title-font);
  font-family: var(--oswald);
  margin: 0 auto;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: rgba(0, 0, 0, 0);
}

.banner {
  background: url("assets/justinrhammonds-profile-wide.png") no-repeat center;
  background-size: cover;
  min-height: 30vh;
  height: 60vmin;
  position: relative;
}

.title-box {
  background-color: #fff;
  position: absolute;
  z-index: 10;
  padding: 1rem 1.5rem;
  width: max-content;
  height: max-content;
  left: calc(25px + (80 - 25) * (100vw - 300px) / (1600 - 300));
  bottom: calc(-15px + (80 - 15) * (100vw - 300px) / (1600 - 300) * -1);
  border: 12px double cadetblue;
}

.title-box h1 {
  letter-spacing: .15rem;
}

.title-box h2 {
  color: #777;
  text-transform: lowercase;
  font-family: var(--montserrat);
}

.recent-work h3 {
  background-color: cadetblue;
  color: #fff;
  margin: 1rem auto;
  padding: .25rem 1rem;
  width: max-content;
}

.recent-work {
  display: flex;
  height: 40vh;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 5vh;
}

.recent-work h3 {
  margin-top: auto;
}

/* resize the logos */
.codesandbox {
  height: calc(32px + (42 - 32) * (100vw - 300px) / (1600 - 300));
  transition: ease .4s;
}

.codepen {
  height: calc(32px + (42 - 32) * (100vw - 300px) / (1600 - 300));
  transition: ease .4s;
}

.github {
  height: calc(28px + (36 - 28) * (100vw - 300px) / (1600 - 300));
  transition: ease .4s;
}

.linkedin {
  height: calc(32px + (42 - 32) * (100vw - 300px) / (1600 - 300));
  transition: ease .4s;
}

.links {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link {
  padding: .25rem 1rem;
}

.link:hover .codesandbox,
.link:hover .linkedin,
.link:hover .github,
.link:active .codesandbox,
.link:active .linkedin,
.link:active .github {
  fill: #fff;
}

.link:hover .codepen,
.link:active .codepen {
  stroke: #fff;
}